.transparent {
    background-color: transparent !important;
}

.heightC {
    height: 1000px;
}

.title {
    background-color: #fe4914;
    font-size: 25px;
    text-align: center;
    color: white;
}


.desc {
    font-size: 15px;
    text-align: center;
    color: white;
    padding-left: 8%;
    /* background-color: transparent !important; */
}

.hide {
    display: none;

}

.reactCoverCarousel__container__2xd56 {
    background-color: transparent !important;
}