
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;

}

label {
    color: #AAAAAA;
}

.rightAlign{
    text-align: right;
    padding-right: 70px;
    padding-top: 60px;
    background-color: transparent;
    }
    
.centerAlign{
    width: 100%;
    display:flex; 
    justify-content: center;
}

.leftAlign{
    text-align: left;
    padding-right: 320px;
    }

.justifytext{
    text-align: justify;
}

.bottom{
    display:flex;
    align-items: end;
}

.leftAlign2{
    text-align: left;      
    padding: 60px  100px  0 140px ;
    }

    /*.... buscarEventosScreen.js... */  
.leftAlign3{
text-align: left;
padding-left: 12%;

}

.leftAlign4{
    text-align: left;
    padding-right: 348px;  
    }



.leftAlign2{
    text-align: left;
    padding-right: 65px;
    padding-top: 50px;
    padding-left: 100px;    
    }


.tittle{
    font-size:30px;
    color:white;
}

.tittle2{
    font-size:30px;
    text-align: center;

}


.tittle3{
    font-size:50px;
    color:	#25388d;
}

.tittle4{
    font-size:50px;
    line-height: normal;
}

.tittle5{
    font-size:50px;
    color:rgb(255, 255, 255);
    line-height: normal;
}

.tittle6{
    font-size:100px;
    color:rgb(255, 255, 255);
}

.tittle7{
    font-size:30px;
    color:	#25388d;
}
.tittle8 {
    font-size: 30px;
    color: white;
    text-align: left;
}
.tittle9 {
    font-size: 30px;
    height: 20px;
}

.contents{
    font-size:25px;
    font-weight: lighter;
    color:white;
    text-align: justify;
    width: 450px;
    height: 50px;
    margin: 0 auto;
} 
.contents1 {
    font-size: 25px;
    font-weight: lighter;
    color: white;
    text-align: left;
    width: 350px;
    height: 50px;
    margin: 0 auto;
}

.contents2{
    font-size:25px;
    font-weight: lighter;
    text-align: justify;
    width: 450px;
    height: 50px;
    margin: 0 auto;
} 

.contents3{
    font-size:15px;
    font-weight: lighter;
    color:white;
    
} 
.contents5 {
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
    width: 900px;
    height: 400px;
    margin: 0 auto;
}


.contents4{
    font-size:25px;
    color:	#25388d;
}
.contents6 {
    font-size: 25px;
    font-weight: lighter;
    color: white;
    text-align: left;
    width: 450px;
    height: 50px;
    margin: 0 auto;
}
.contents7 {
    
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
    width: 700px;
    height: 100px;
    
}
.contents8 {
    
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

.black{
    color:black
}

.darkcolor{
    color: #1e3143;
}

.bluetittle{
    color: #143c8b;
}

.verysmall{
    font-size:12px;
    font-weight: lighter;
}

.white{
    color:white;
}
    
