.Ipad {
    position: absolute;
    max-width: 670px;
    padding: 100px 0 0 100px;
    z-index: 8;

}

.Celular {
    position: absolute;
    max-width: 670px;
    padding: 280px 0 0 500px;
    z-index: 10;
}

.btnVideo {
    background: transparent;
    border: 0px;
    z-index: 11;
    position: absolute;
    margin: 220px 0 0 250px;
}

.videoPC {
    position: absolute;
    max-width: 655px;
    padding: 115px 0 0 105px;
    z-index: 6;

}

.hide {
    display: none;
}

.show {
    display: block;
}
