

.container-eventsecure{
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
justify-content: center;
margin-top: 100px;
}
.container-text-eventsecure {
    background-color:#26388d;
    text-align: left;
    color: white;
   padding-left: 20px;
   padding-top: 10px;
   font-weight: bold;
 text-align: center;
 margin-right: 0px
}

.container-img-eventsecure img{
    width: 100%;
height: 600px;
padding: 0%;
margin: 0%;
}

.bigButton{
    color: white;
    border-radius: 30px;
    font-size: 40px;
    background-color:  #fe4914;
margin-top: 10px;
border: none;


}